@media only screen and (max-width:900px) {
    #menu {
        display: block;
        top: 1rem;
        right: 1rem;
        position: absolute;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 5rem;
        padding-right: 1rem;
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        float: right;
        text-align: center;
        background-color: #92929292;
        padding: 1rem 1rem;
        margin-right: .3rem;
        backdrop-filter: blur(12px);
        border-radius: 10px;
    }

    nav a{
        display: block;
    }
    nav li{
        margin: 0;
    }

    nav.show {
        display: block;
    }

}