@media only screen and (max-width: 640px) {
    .data,.weather {
        position: static;
        text-align: center;
        box-shadow: none;
    }

    section h2{
        background-color: white;
        color: green;
    }
    section p{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:0.5rem;
        margin: 0.7rem 0;
        text-align: left;
        align-items: baseline;
    }
    p strong{
        text-align: right;
    }

    .weather h2::after{
        content: "";
    }
    .weather-svg img{
        display: block;
        margin: 0 auto;

    }
    
}